<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/bootstrap.min.css"
          integrity="" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}">

    <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}">
    <title>Show Recipe</title>
</head>
<body>

<div class="container-fluid"  style="margin-top: 20px;">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="card border-primary m-3">
                <div class="card-header bg-primary" style="height: auto;color: #dddddd">
                    <h5 class="card-title" th:text="${recipe.description}">Recipe Description</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <h6>Categories : </h6>
                        </div>
                        <div class="col-md-6">
                            <ul th:each="category : ${recipe.getCategories()}  ">
                                <li th:text="${category.description}">Category 1</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <h6>Prep Time :</h6>
                        </div>
                        <div class="col-md-3">
                            <h6 th:text="${recipe.preTime}">30 mins</h6>
                        </div>
                        <div class="col-md-3">
                            <h6>Difficulty :</h6>
                        </div>
                        <div class="col-md-3">
                            <h6 th:text="${recipe.difficulty}">Easy</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <h6>Cook Time :</h6>
                        </div>
                        <div class="col-md-3">
                            <h6 th:text="${recipe.cookTime}">30 mins</h6>
                        </div>
                        <div class="col-md-3">
                            <h6>Servings :</h6>
                        </div>
                        <div class="col-md-3">
                            <h6 th:text="${recipe.servings}">4/5</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <h6>Source :</h6>
                        </div>
                        <div class="col-md-3">
                            <h6 th:text="${recipe.source}">xyzvvcv</h6>
                        </div>
                        <div class="col-md-3">
                            <h6>URL :</h6>
                        </div>
                        <div class="col-md-3">
                            <h6 th:text="${recipe.url}">http://www.simplyrecipes.com/recipe</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" style="margin-top: 5px;">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="card border-primary m-3">
                <div class="card-header bg-primary" style="height: 50px;color: #dddddd">
                    <h5 class="card-title" th:text="Ingredients">Ingredients</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <ul th:each="ingredient : ${recipe.ingredients}">
                                <li th:text="${ingredient.description}">Ingredient 1</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" style="margin-top: 5px;">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="card border-primary m-3">
                <div class="card-header bg-primary" style="height: 50px;color: #dddddd">
                    <h5 class="card-title" th:text="Directions">Directions</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <p th:text="${recipe.directions}">Directions to make receipe..</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" style="margin-top: 5px;">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="card border-primary m-3">
                <div class="card-header bg-primary" style="height: 50px;color: #dddddd">
                    <h5 class="card-title" th:text="Notes">Notes</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <p th:text="${recipe.notes.recipeNotes}">Some notes about Recipe...........................</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>